@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Open+Sans:wght@400;600&family=Poppins:wght@400;900&family=Roboto:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url("./img/background_marvel.jpg");
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
  font-family: "Roboto";
}

#titulo-filmes {
  color: #ffffff;
  text-align: center;
  padding: 30px 0px;
  cursor: pointer;
}

#titulo-filmes:hover {
  text-decoration: underline;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 3px;
  cursor: pointer;
  height: 21px;
}
.search-bar:hover {
  border-color: 1px solid black;
  opacity: 0, 5;
}

nav a {
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 5px;
}

nav a:hover {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  opacity: 0.8;
}

.Ctn-pai {
  width: 100%;
}

.Ctn-filho {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 10px;
}

#recem-add {
  padding: 50px 0px 0px 0px;
  text-align: center;
  color: #fff;
}

#recem-add:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ctn-p {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  gap: 20px;
  padding-bottom: 50px;
  border-bottom: solid 1px #ffffff96;
}

.img-w2 {
  filter: brightness(1);
  width: 250px;
  height: 350px;
  border: solid 3px #ffffff96;
  cursor: pointer;
}

.img-w2:hover {
  filter: brightness(0.7);
  transform: scale(1.1);
  transition: 0.25s ease;
}

ul,
li {
  text-decoration: none;
  list-style: none;
  color: white;
}

.img-w {
  width: 250px;
  height: 350px;
  border: solid 3px #ffffff96;
  cursor: pointer;
}

.img-w:hover {
  transform: scale(1.1);
  filter: brightness(0.7);
  transition: 0.25s ease;
}

span {
  display: flex;
}

.carrosel {
  width: 88%;
  height: 350px;
  padding:2rem 0px;
  border-bottom: 1px solid #ffffff96;
  margin: 0 auto;
  overflow: hidden;
}

.carrosel ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.contact a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 / 55%);
  transition: all 0.3s;
}

.contact a:hover{
  text-decoration: underline;
  color: red;
  font-size: 17px;
}





@media screen and (max-width: 720px) {
  .ctn-p {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    gap: 20px;
    padding-bottom: 50px;
    border-bottom: solid 1px #ffffff96;
  }

  .search-bar input {
    height: 21px;
    border-radius: 5px;
  }

  .carrosel {
    width: 250px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
  }

  .carrosel ul {
    width: 100%;
    display: flex;
    justify-content: start;
    list-style: none;
  }

  .img-w {
    width: 250px;
    height: 350px;
    border: solid 1px #ffffff96;
    cursor: pointer;
  }

  .carrosel li {
    position: relative;
    animation: slide 10s infinite ease-out;
  }

  @keyframes slide {
    0% {
      left: -0%;
    }
    20% {
      left: -260px;
    }
    30% {
      left: -500px;
    }
    40% {
      left: -750px;
    }
    50% {
      left: -850px;
    }
    60% {
      left: -1100px;
    }
    70% {
      left: -1380px;
    }
  }
}
